@import "../../scss/Variables.scss";

.container {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/img/login-back-01.png') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 8.5rem;
  left: 27.9%;

  p {
    font-family: "Black Han Sans", sans-serif;
    font-size: 3rem;
    color: $pri;
  }
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  flex-direction: column;
  text-align: center;

  p {
    font-size: 0.85rem;
  }
}

form {
  height: 67%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.back-wrap {
  margin-top: 3rem;
  width: 25rem;
  height: 35rem;
  background: url('../../assets/img/back.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-top: -2rem;
    display: block;
  }

  p {
    font-size: 0.5rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
  }
}

.login-wrap {
  margin-top: 3rem;
  width: 25rem;
  height: 35rem;
  background: #fff;
  left: calc(50% - 13rem);
  top: calc(50% - 15rem);
  padding: 3rem;
}

.select-lang {}

.login-inner {
  width: 100%;
  position: relative;

  .icon {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    bottom: 0.4rem;
  }

  label {
    position: absolute;
    left: 2.5rem;
    bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $gray3;
    cursor: text;

    &.active {
      bottom: 2.5rem;
      font-size: 0.8rem;
      color: $pri;
    }
  }
}

.login-input {
  width: 100%;
  border-bottom: 1px solid $gray3;
  transition: all 0.2s;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.35rem 0;
  padding-left: 2.5rem;

  &:focus {
    border-bottom: 1px solid $pri;

    &+label {
      bottom: 2.5rem;
      font-size: 0.8rem;
      color: $pri;
    }
  }
}

.login-submit {
  width: 100%;
  margin-top: 5rem;
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: 800;
  background-color: $pri;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;

  &.wrong {
    animation: wrong 0.55s forwards;
    background: red;
  }

  &:hover {
    border-radius: 3rem;
  }
}

@keyframes wrong {
  0% {
    transform: translateX(-0.4rem);
  }

  10% {
    transform: translateX(0.3rem);
  }

  25% {
    transform: translateX(-0.2rem);
  }

  40% {
    transform: translateX(0.1rem);
  }

  60% {
    transform: translateX(-0.1rem);
  }

  80% {
    transform: translateX(0.1rem);
  }

  100% {
    transform: translateX(0);
  }
}