@import "../../scss/Variables.scss";

.container {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/img/login-back-00.png") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-logo {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  text-align: center;

  img {
    width: 5rem;
  }

  p {
    font-size: 0.6rem;
    color: $gray3;

    strong {
      color: $gray3;
    }
  }
}

form {
  position: relative;
  height: 90%;
}

.back-wrap {
  position: relative;
  margin-top: 1rem;
  width: 29rem;
  height: 37rem;
  background: url("../../assets/img/back.jpg") center center no-repeat;
  background-size: cover;

  img {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
    width: 4rem;
  }

  .title {
    position: absolute;
    text-align: right;
    right: 1.5rem;
    top: 11rem;

    p {
      font-family: "Black Han Sans", sans-serif;
      font-size: 4rem;
      color: #fff;
      line-height: 1.1;
    }
  }
}

.login-wrap {
  margin-top: 1rem;
  width: 29rem;
  height: 37rem;
  background: #fff;
  left: calc(50% - 13rem);
  top: calc(50% - 15rem);
  padding: 3rem 3.5rem;
}

.select-lang {}

.login-inner {
  width: 100%;
  position: relative;

  .icon {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    bottom: 0.4rem;
  }

  label {
    position: absolute;
    left: 2.5rem;
    bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $dark;
    cursor: text;

    &.active {
      bottom: 2.3rem;
      font-size: 0.9rem;
      color: $pri;
    }
  }
}

.login-input {
  width: 100%;
  border-bottom: 1px solid $gray3;
  transition: all 0.2s;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.35rem 0;
  padding-left: 2.5rem;
  margin-top: 2.5rem;

  &#id {
    margin-top: 1rem;
  }

  &:focus {
    border-bottom: 1px solid $pri;

    &+label {
      bottom: 2.3rem;
      font-size: 0.9rem;
      color: $pri;
    }
  }
}

.login-submit {
  width: 100%;
  margin-top: 10.5rem;
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: 800;
  background-color: $pri;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;

  &.wrong {
    animation: wrong 0.55s forwards;
    background: red;
  }

  &:hover {
    border-radius: 3rem;
  }
}

@keyframes wrong {
  0% {
    transform: translateX(-0.4rem);
  }

  10% {
    transform: translateX(0.3rem);
  }

  25% {
    transform: translateX(-0.2rem);
  }

  40% {
    transform: translateX(0.1rem);
  }

  60% {
    transform: translateX(-0.1rem);
  }

  80% {
    transform: translateX(0.1rem);
  }

  100% {
    transform: translateX(0);
  }
}