@import "../../scss/Variables.scss";

.container {
  width: 100vw;
  height: 100vh;
  background: $gray;

  p {
    font-family: "Black Han Sans", sans-serif;
    font-size: 5rem;
    position: absolute;
    top: 5rem;
    letter-spacing: -2px;
    line-height: 0.9;
    left: 28rem;
    color: $pri;
    opacity: 0.1;
  }
}

.login-wrap {
  width: 26rem;
  height: 30rem;
  background: #fff;
  position: absolute;
  left: calc(50% - 13rem);
  top: calc(50% - 15rem);
  padding: 3rem;
}

.login-inner {
  position: relative;
  margin-top: 2rem;

  .icon {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    bottom: 0.4rem;
  }

  label {
    position: absolute;
    left: 2.5rem;
    bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $gray3;
    cursor: text;

    &.active {
      bottom: 2.5rem;
      font-size: 0.8rem;
      color: $pri;
    }
  }
}

.login-input {
  border-bottom: 1px solid $gray3;
  transition: all 0.2s;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.35rem 0;
  padding-left: 2.5rem;

  &:focus {
    border-bottom: 1px solid $pri;

    & + label {
      bottom: 2.5rem;
      font-size: 0.8rem;
      color: $pri;
    }
  }
}

.login-submit {
  position: absolute;
  width: calc(100% - 6rem);
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: 800;
  background-color: $pri;
  color: #fff;
  bottom: 3rem;
  transition: all 0.2s;
  cursor: pointer;

  &.wrong {
    animation: wrong 0.55s forwards;
    background: red;
  }

  &:hover {
    border-radius: 3rem;
  }
}

@keyframes wrong {
  0% {
    transform: translateX(-0.4rem);
  }

  10% {
    transform: translateX(0.3rem);
  }

  25% {
    transform: translateX(-0.2rem);
  }

  40% {
    transform: translateX(0.1rem);
  }

  60% {
    transform: translateX(-0.1rem);
  }
  80% {
    transform: translateX(0.1rem);
  }
  100% {
    transform: translateX(0);
  }
}
