.container {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/img/login-back-01.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  position: absolute;
  top: 8.5rem;
  left: 27.9%;
}

.title p {
  font-family: "Black Han Sans", sans-serif;
  font-size: 3rem;
  color: #1225c9;
}

.login-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.login-logo p {
  font-size: 0.85rem;
}

form {
  height: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.back-wrap {
  margin-top: 3rem;
  width: 25rem;
  height: 35rem;
  background: url("../../assets/img/back.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-wrap img {
  margin-top: -2rem;
  display: block;
}

.back-wrap p {
  font-size: 0.5rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.login-wrap {
  margin-top: 3rem;
  width: 25rem;
  height: 35rem;
  background: #fff;
  left: calc(50% - 13rem);
  top: calc(50% - 15rem);
  padding: 3rem;
}

.login-inner {
  width: 100%;
  position: relative;
}

.login-inner .icon {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  bottom: 0.4rem;
}

.login-inner label {
  position: absolute;
  left: 2.5rem;
  bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #c1c1cf;
  cursor: text;
}

.login-inner label.active {
  bottom: 2.5rem;
  font-size: 0.8rem;
  color: #1225c9;
}

.login-input {
  width: 100%;
  border-bottom: 1px solid #c1c1cf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.35rem 0;
  padding-left: 2.5rem;
}

.login-input:focus {
  border-bottom: 1px solid #1225c9;
}

.login-input:focus + label {
  bottom: 2.5rem;
  font-size: 0.8rem;
  color: #1225c9;
}

.login-submit {
  width: 100%;
  margin-top: 5rem;
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: 800;
  background-color: #1225c9;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.login-submit.wrong {
  -webkit-animation: wrong 0.55s forwards;
          animation: wrong 0.55s forwards;
  background: red;
}

.login-submit:hover {
  border-radius: 3rem;
}

@-webkit-keyframes wrong {
  0% {
    -webkit-transform: translateX(-0.4rem);
            transform: translateX(-0.4rem);
  }
  10% {
    -webkit-transform: translateX(0.3rem);
            transform: translateX(0.3rem);
  }
  25% {
    -webkit-transform: translateX(-0.2rem);
            transform: translateX(-0.2rem);
  }
  40% {
    -webkit-transform: translateX(0.1rem);
            transform: translateX(0.1rem);
  }
  60% {
    -webkit-transform: translateX(-0.1rem);
            transform: translateX(-0.1rem);
  }
  80% {
    -webkit-transform: translateX(0.1rem);
            transform: translateX(0.1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes wrong {
  0% {
    -webkit-transform: translateX(-0.4rem);
            transform: translateX(-0.4rem);
  }
  10% {
    -webkit-transform: translateX(0.3rem);
            transform: translateX(0.3rem);
  }
  25% {
    -webkit-transform: translateX(-0.2rem);
            transform: translateX(-0.2rem);
  }
  40% {
    -webkit-transform: translateX(0.1rem);
            transform: translateX(0.1rem);
  }
  60% {
    -webkit-transform: translateX(-0.1rem);
            transform: translateX(-0.1rem);
  }
  80% {
    -webkit-transform: translateX(0.1rem);
            transform: translateX(0.1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=Login.css.map */