@import "../../../scss/Variables.scss";

.date-divider {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  font-weight: 300;
}

.send-logistc {
  .form {
    form {
      display: block;
      width: 100%;
      position: relative;

      .save {
        width: 4.5rem;
        bottom: 0;
        padding: 0.35rem 0.4rem;
      }

      .search {
        right: 5rem;
        background: $dark;
      }

      .repub {
        right: 10rem;
        background: none;
        border: 1px solid $pri;
        color: $pri;
      }
    }
  }

  .test {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.25rem;
  }

  .input-divide {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;

    &.mt {
      margin-top: 0.5rem;
    }

    .label {
      &.mr {
        margin-right: 1.4rem;
      }

      &.mr-2 {
        margin-right: 1.8rem;
      }

      &.ml {
        margin-left: 1.5rem;
      }

      &.mt {
        margin-top: 0.2rem;
      }
    }

    &:last-child {
      margin-top: 0.75rem;
    }

    .input-div {
      display: flex;
      align-items: center;
      margin-top: 0;

      input {
        width: 15.8rem;
        height: 2rem;
        border: 1px solid $gray3;
        padding: 0.35rem;

        &.live-search {
          width: 15rem;
        }
      }

      &.radio-div {
        p {
          margin: 0;
          margin-left: 1.5rem;
          margin-top: 0.15rem;
        }

        input {
          width: auto;
        }
      }
    }
  }

  .table {
    .react-bootstrap-table {
      &.send-table {
        height: calc(100vh - 20rem);

        table {
          width: 2000px;

          &.loprint {
            width: 100%;
          }

          .selection {
            width: 2.5rem;
            padding-right: 0;

            &.td {
              padding: 0;
            }
          }

          .th-sort {
            cursor: pointer;
          }

          .delete {
            cursor: default;
            width: 3.7rem;
            padding: 0;
            background: none;
            background-size: 1.6rem;

            &.active {
              cursor: pointer;
              background: url("../../../assets/img/trash.svg") center center
                no-repeat;
              background-size: 1.6rem;
            }
          }

          .print {
            cursor: default;
            text-align: center;
            padding: 0;

            span {
              background: $gray3;
              padding: 0.15rem 0.35rem;
              border-radius: 6px;
              color: #fff;
            }

            &.active {
              cursor: pointer;

              &:hover {
                opacity: 0.75;
              }

              span {
                background: $pri;
              }
            }
          }

          .copy {
            cursor: default;
            width: 3.7rem;
            padding: 0;
            background: none;
            background-size: 1.6rem;

            &.deactive {
              cursor: default;
              background: url("../../../assets/img/copy-un.svg") center center
                no-repeat;
              background-size: 1.6rem;
            }

            &.active {
              cursor: pointer;
              background: url("../../../assets/img/copy.svg") center center
                no-repeat;
              background-size: 1.6rem;
            }
          }

          .num {
            text-align: right;
          }

          tr {
            background: $gray;

            &.active {
              background: #fff;
            }
          }
        }
      }

      &.print-table {
        height: calc(100vh - 20rem);

        table {
          width: 110%;
        }
      }

      .balseq {
        font-weight: 600;
        width: 40px;

        &.copied {
          color: $gray3;
        }
      }
    }
  }
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  cursor: pointer !important;
  width: 7rem;
  text-align: center;

  input {
    width: 7rem;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    height: 2rem;
  }
}

.react-datepicker {
  .react-datepicker__day-name {
    color: $gray4;
    font-size: 0.7rem;
  }

  .react-datepicker__triangle {
    border-bottom-color: #fff !important;
  }

  .react-datepicker__day:hover {
    border-radius: 0;
  }

  .react-datepicker__navigation--previous:hover,
  .react-datepicker__navigation--previous:active {
    border-right-color: $pri;
  }

  .react-datepicker__navigation--next:hover,
  .react-datepicker__navigation--next:active {
    border-left-color: $pri;
  }

  .react-datepicker__day--selected {
    background: $pri;
    border-radius: 0;

    &:hover {
      background: $pri;
      border-radius: 0;
    }
  }

  .react-datepicker__day--outside-month {
    color: $gray3;
  }

  .react-datepicker__header,
  .react-datepicker {
    border-radius: 0 !important;
    background: #fff !important;
  }
}

.table-check {
  border-radius: 0;
  margin: 0 auto;
  display: block;
  width: 1rem;
  height: 1rem;
}

.table-input {
  padding: 0.25rem;
  width: 8rem;
}
