@import "../../scss/Variables.scss";

.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 14rem;
  overflow-y: auto;
  height: 100vh;
  padding-top: 6.5rem;
  padding-bottom: 3rem;
  background: #fff;
  z-index: 999;
  box-shadow: 5px 0px 5px rgba(20, 50, 80, 0.1);
  font-size: 0.8rem;

  .menu-list {
    border-top: 1px solid #e1e1e9;
    border-left: 8px solid transparent;

    p {
      padding: 0.7rem 0 0.7rem 1.2rem;
      cursor: pointer;
      font-weight: 500;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        border-left: 1.5px solid #818189;
        border-top: 1.5px solid #818189;
        transform: rotate(-135deg);
        top: 0.9rem;
        right: 1.3rem;
        transition: all 0.2s;
      }

      &:hover {
        background: $gray;
      }
    }

    &.active {
      border-left: 8px solid $pri;

      p {
        &:after {
          transform: rotate(45deg);
          top: 1.1rem;
        }
      }
    }
  }

  .sub-menu {
    background: $gray;
    max-height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.8rem;

    .sub-menu-list {
      padding: 0.5rem 1rem 0.5rem 2rem;
      padding-left: 2.5rem;
      font-weight: 400;
      border-top: 1px solid $gray2;

      &:active {
        background: $pri !important;
        color: #fff;
      }

      &:hover {
        background: $pri;
        color: #fff;
      }
    }
  }

  .select-section {
    position: absolute;
    left: 1rem;
    top: 1rem;

    img {
      display: inline-block;
      width: 8rem;
      height: auto;
      margin-top: 0.6rem;
      margin-left: 1.5rem;
    }

    .mode-selection {
      font-size: 0.7rem;
      position: absolute;
      width: 10rem;
      top: 2.5rem;
      left: 1rem;
      height: 1.8rem;
      margin-top: 0.3rem;
      border: none;
      padding: 0 0.5rem;
      font-weight: 600;
      border: 1px solid $gray2;
      border-radius: 5px;

      &:focus {
        border: 1px solid $pri;
        border-radius: 5px;
      }
    }
  }
}

.header-menu {
  width: 100%;
  position: absolute;
  height: 2.5rem;
  top: 2.5rem;
  left: 0rem;
  background: #fff;
  z-index: 999;
  box-shadow: 0 5px 5px rgba(20, 50, 80, 0.1);
  padding-left: 20rem;

  .select-section {
    position: absolute;
    left: 0;

    img {
      display: inline-block;
      width: 8rem;
      height: auto;
      margin-top: 0.6rem;
      margin-left: 1.5rem;
    }

    .mode-selection {
      font-size: 0.7rem;
      position: absolute;
      width: 8rem;
      top: 0;
      left: 11rem;
      height: 1.8rem;
      margin-top: 0.3rem;
      border: none;
      padding: 0 0.5rem;
      font-weight: 600;
      border: 1px solid $gray2;
      border-radius: 5px;

      &:focus {
        border: 1px solid $pri;
        border-radius: 5px;
      }
    }
  }

  .menu {
    display: flex;
    padding-left: 1rem;

    .menu-list {
      position: relative;
      height: 2.5rem;
      line-height: 2.5rem;
      padding: 0 3rem 0 1.25rem;
      cursor: pointer;
      font-size: 0.85rem;
      position: relative;
      color: #999;
      font-weight: 500;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 4.5px;
        height: 4.5px;
        background: $gray3;
        top: 1.1rem;
        left: 0.5rem;
        border-radius: 4.5px;
        transition: all 0.2s;
      }

      &:hover {
        &:after {
          background: $pri;
          top: 0.75rem;
          height: 18px;
        }
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .sub-menu {
      opacity: 0;
      visibility: hidden;
      background: #fff;
      width: 10rem;
      position: absolute;
      left: 0.5rem;
      top: 2.5rem;
      line-height: 1rem;
      font-size: 0.8rem;
      box-shadow: 0 2px 6px rgba(20, 50, 80, 0.2);

      .sub-menu-list {
        padding: 0.5rem 0 0.5rem 1.25rem;
        border-top: 1px solid #e1e1e9;
        color: #333;
        font-weight: 300;

        &:first-child {
          border: none;
        }

        &:hover {
          background: $pri;
          color: #fff;
        }
      }
    }
  }
}

.contents {
  position: absolute;
  width: calc(100% - 3rem);
  height: calc(100% - 13.5rem);
  top: 9.5rem;
  background: #fff;
  left: 1.5rem;
  box-shadow: 0 10px 5px rgba(20, 50, 80, 0.1);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.5rem;

  &.left {
    width: calc(100% - 17rem);
    height: calc(100% - 10.2rem);
    top: 6.7rem;
    left: 15.5rem;
  }
}

.tabs {
  position: absolute;
  display: flex;
  top: 6.5rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
  overflow-x: scroll;

  &.left {
    width: calc(100% - 17rem);
    top: 3.8rem;
    left: 15.5rem;
  }

  .tab {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    padding: 0.75rem 2.75rem 0.75rem 1.25rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Noto sans KR", sans-serif;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    white-space: nowrap;

    &.active {
      opacity: 1;
    }
  }

  .delete-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 8px;

    &.disable {
      &:after {
        background: #999;
      }

      &:before {
        background: #999;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      transform: rotate(45deg);
      background: #ee2472;
      position: absolute;
      top: 5px;
      right: 10px;
    }

    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      transform: rotate(-45deg);
      background: #ee2472;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
}

.content-inner {
  width: calc(100% - 4rem);
  position: absolute;
  opacity: 0;
  visibility: hidden;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
