@import "../../scss/Variables.scss";

.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 11rem;
  overflow-y: auto;
  height: 100vh;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  background: #fff;
  z-index: 999;
  font-size: 0.75rem;
  border-right: 1px solid $gray3;

  img {
    display: inline-block;
    position: absolute;
    width: 7rem;
    top: 2.75rem;
    left: 50%;
    transform: translateX(-52%);
  }

  .menu-list {
    border-top: 1px solid #e1e1e9;
    border-left: 8px solid transparent;

    &.active {
      p:after {
        border-color: $pri;
      }
    }

    p {
      padding: 0.5rem 0 0.5rem 1rem;
      cursor: pointer;
      font-weight: 600;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        border-left: 1.5px solid #818189;
        border-top: 1.5px solid #818189;
        transform: rotate(-135deg);
        top: 0.7rem;
        right: 1.3rem;
        transition: all 0.2s;
      }

      &:hover {
        background: $gray;
      }
    }

    &.active {
      border-left: 8px solid $pri;

      p {
        &:after {
          transform: rotate(45deg);
          top: 0.85rem;
        }
      }
    }
  }

  .sub-menu {
    background: $gray;
    max-height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.8rem;

    .sub-menu-list {
      padding: 0.35rem 1rem 0.35rem;
      padding-left: 1.5rem;
      font-weight: 400;
      border-top: 1px solid $gray2;

      &:active {
        background: $pri !important;
        color: #fff;
      }

      &:hover {
        background: $pri;
        color: #fff;
      }
    }
  }
}

.select-section {
  position: absolute;
  left: 0;
  z-index: 9999;
  width: 10rem;

  &.left {
    width: 11rem;
  }

  img {
    display: inline-block;
    width: 8rem;
    height: auto;
    margin-top: 0.6rem;
    margin-left: 1.5rem;
  }

  .mode-selection {
    font-size: 0.8rem;
    position: absolute;
    width: 100%;
    top: 0rem;
    left: 0rem;
    height: 2rem;
    border: none;
    padding: 0 1rem;
    font-weight: 600;
    border-right: 1px solid $gray2;
    background: #2b4475 url("../../assets/img/arrow-down.png") 90% 45% no-repeat;
    background-size: 18px;
    color: #fff;
    appearance: none;

    option {
      color: #fff;
    }

    &::-ms-expand {
      display: none;
    }
  }
}

.header-menu {
  width: 100%;
  position: absolute;
  height: 2rem;
  top: 2rem;
  left: 0rem;
  background: #fff;
  z-index: 9999;
  border-bottom: 1px solid #c4b9ae;

  img {
    width: 6.5rem;
    margin-top: 0.45rem;
    margin-left: 1.5rem;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 10rem;
    display: flex;
    padding-left: 1rem;
    z-index: 9999;

    .menu-list {
      position: relative;
      height: 2rem;
      line-height: 2rem;
      padding: 0 2rem 0 1.25rem;
      cursor: pointer;
      font-size: 0.75rem;
      color: #000;
      font-weight: 500;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 4.5px;
        height: 4.5px;
        background: $gray3;
        top: 0.85rem;
        left: 0.5rem;
        border-radius: 4.5px;
        transition: all 0.2s;
      }

      &:hover {
        &:after {
          background: $pri;
          top: 0.5rem;
          height: 18px;
        }

        .sub-menu {
          opacity: 1;
          visibility: visible;
          font-size: 0.75rem;
        }
      }
    }

    .sub-menu {
      opacity: 0;
      visibility: hidden;
      background: #fff;
      width: 8rem;
      position: absolute;
      left: 0.5rem;
      top: 1.94rem;
      line-height: 1rem;
      font-size: 0.75rem;
      border: 1px solid $gray3;

      .sub-menu-list {
        padding: 0.5rem 0 0.5rem 0.85rem;
        border-top: 1px solid #e1e1e9;
        color: #000;
        font-weight: 300;

        &:first-child {
          border: none;
        }

        &:hover {
          background: $pri;
          color: #fff;
        }
      }
    }
  }
}

.tabs {
  position: absolute;
  display: flex;
  z-index: 50;
  top: 4.82rem;
  left: 1rem;
  width: 100%;
  overflow-y: hidden;

  &.left {
    top: 3rem;
    left: 12rem;
  }

  .tab {
    background: #fff;
    padding: 0.35rem 1.6rem 0.35rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: "Noto sans KR", sans-serif;
    cursor: pointer;
    opacity: 0.65;
    color: $gray4;
    position: relative;
    white-space: nowrap;
    margin-left: -1px;
    border: 1px solid $gray3;
    border-bottom: none;

    &.active {
      opacity: 1;
      border-bottom-color: #fff;
      color: $pri;
    }
  }

  .delete-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 4px;
    right: 2px;

    &.disable {
      &:after {
        background: #999;
      }

      &:before {
        background: #999;
      }
    }

    &.non-delete {

      &:after,
      &:before {
        content: none;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 10px;
      transform: rotate(45deg);
      background: #ee2472;
      position: absolute;
      top: 5px;
      right: 10px;
    }

    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 10px;
      transform: rotate(-45deg);
      background: #ee2472;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
}

.contents {
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 9.75rem);
  top: 6.6rem;
  background: #fff;
  left: 1rem;
  padding: 1rem 1.25rem 1.25rem;
  overflow-y: auto;
  box-shadow: 5px 5px 15px rgba(20, 30, 60, 0.25);

  &.left {
    width: calc(100% - 13rem);
    height: calc(100% - 7.85rem);
    top: 4.75rem;
    left: 12rem;
  }
}

.content-inner {
  width: calc(100% - 2.5rem);
  height: calc(100% - 2.25rem);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: none;

  &.active {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.content-component {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}