@import "../../../scss/Variables.scss";

.contents {
  &.left {
    .tree-section {
      height: calc(100vh - 14rem);
    }

    .pgm-panel {
      height: calc(100vh - 14rem);
    }
  }
}

.syst-pgm {
  .tree-title {
    margin-top: 0.5rem;
    position: absolute;
    font-size: 0.8rem;
  }

  .section-wrapper {
    display: flex;
    flex-direction: row;
  }

  .tree-section {
    margin-top: 2rem;
    width: 50%;
    height: calc(100vh - 15.8rem);
    border: 1px solid $dark;
    padding: 1rem;
    padding-bottom: 5rem;
    font-size: 0.8rem;
    overflow: hidden;
    overflow-y: auto;

    ul {
      display: inline-block;
      padding: 0.15rem 0;
      cursor: pointer;

      p {
        padding: 0.15rem 0 0.15rem 2.7rem;
      }

      li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        filter: grayscale(100%);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          filter: grayscale(0%);

          p {
            color: $pri;
          }
        }
      }
    }

    .main-depth {
      display: block;
      height: auto;

      .top-tree {
        font-weight: 500;
      }

      &:before {
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        background: url("../../../assets/img/depth-01.png") center center no-repeat;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: 2px;
      }

      &:after {
        content: "+";
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
      }
    }

    .main-depth,
    .sub-depth,
    .last-depth {
      position: relative;
    }

    .sub-depth {
      max-height: 0;
      overflow: hidden;
      left: 1.5rem;
      transition: all 0.15s;

      li:after {
        content: "+";
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
      }

      li:before {
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        background: url("../../../assets/img/depth-02.png") center center no-repeat;
        background-size: cover;
        position: absolute;
        left: 11px;
        top: -1px;
      }
    }

    .last-depth {
      position: relative;
      left: 2rem;
      max-height: 0;
      overflow: hidden;
      transition: all 0.15s;

      li:after {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        border-left: 1px solid $dark;
        border-bottom: 1px solid $dark;
        left: 0;
        top: 40%;
      }

      li:before {
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        background: url("../../../assets/img/depth-03.png") center center no-repeat;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: -1px;
      }
    }
  }

  .pgm-panel {
    margin-left: 1rem;
    width: 100%;
    margin-top: 2rem;
    height: calc(100vh - 15.8rem);
    border: 1px solid $dark;
    padding: 1.5rem 1.5rem;
    position: relative;
    background: #fff;

    .title {
      top: 2.25rem;
      transform: translateX(-2rem);
    }
  }

  .pgm-tab {
    width: 100%;
    position: relative;
    display: flex;

    .react-tabs__tab-panel--selected {
      display: block !important;
    }

    .tab-panel {
      width: calc(100% - 6.25rem);
      display: none;

      .react-tabs {
        display: flex;
        width: 100%;
      }
    }

    .tab-list {
      display: flex;
      position: absolute;
      top: -45px;
      left: calc(-1.5rem - 1px);
      width: 100%;
      height: 1rem;
      align-items: center;

      .tab {
        font-size: 0.8rem;
        font-weight: 500;
        width: 4rem;
        padding: 0.4rem;
        text-align: center;
        border: 1px solid $gray4;
        border-bottom: 1px solid $dark;
        color: $gray4;
        background: $gray;
        cursor: pointer;

        &.edit {
          opacity: 0.4;

          &.react-tabs__tab--selected {
            opacity: 1;
          }
        }

        &.react-tabs__tab--selected {
          border-color: $pri;
          font-weight: 600;
          color: $pri;
          background: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }

    .inner-tab-list {
      display: flex;
      flex-direction: column;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .inner-tab {
        box-sizing: initial;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.15rem 0;
        text-align: left;
        border-bottom: 4px solid #fff;
        color: $gray4;
        cursor: pointer;
        margin-bottom: 0.5rem;

        margin-right: 2.5rem;
        margin-left: 0.5rem;

        &.react-tabs__tab--selected {
          border-color: $pri;
          color: $pri;
        }
      }
    }

    .input-div {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      P {
        margin-bottom: 0.25rem;
      }

      .window-id {
        white-space: nowrap;
      }

      &:first-child {
        margin-top: 0;
      }

      select {
        width: 55%;
        padding: 0.25rem 0;
        font-size: 0.8rem;
      }

      input {
        width: 55%;
        font-size: 0.8rem;
      }

      input:read-only {
        background: $gray;
        color: $dark;
        cursor: default;
      }

      input[type="radio"] {
        width: auto;
      }

      input[type="checkbox"] {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
      }
    }

    .save {
      margin-top: 1rem;

      &.delete {
        margin-left: 0.5rem;
        background: $red;
      }
    }
  }
}