@import "../../../scss/Variables.scss";

.main-search {
  width: 14rem;
  border: 1px solid $gray3;
  padding: 0.2rem 0.5rem;
  height: 2rem;

  &::placeholder {
    color: #c1c1c9;
    font-size: 0.75rem;
  }

  &:focus {
    border-color: $pri;
  }
}

.form {
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 0;
  font-size: 0.75rem;
  margin-bottom: 0.8rem;
  display: flex;
  position: relative;
  align-items: center;

  .label {
    margin-right: 1.15rem;

    &.ml {
      margin-left: 1rem;
    }
  }

  .utils {
    display: flex;
    margin-left: 0.55rem;

    .util-button {
      width: auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 2rem;
      font-size: 0.75rem;
      padding: 0.25rem 0.6rem;
      margin: 0 0.25rem;
      border: 1px solid $gray2;
      opacity: 0.85;

      &:hover {
        opacity: 1;
        border-color: $pri;

        span {
          color: $pri;
        }
      }

      img {
        width: 1.1rem;
      }

      span {
        font-weight: 500;
        padding-left: 0.25rem;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
  }

  span {
    font-weight: 600;
  }

  .search-btn {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background: $pri url("../../../assets/img/search.svg") center center no-repeat;
    background-size: 70%;
    padding-top: 0.2rem;

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }
}

.right-panel {
  position: fixed;
  top: 2.5vh;
  right: 0;
  width: 45vw;
  background: #fff;
  height: 95vh;
  border: 1px solid #333;
  z-index: 10000;
  transform: translateX(45vw);
  transition: transform 0.25s;
  box-shadow: -10px 0 60px rgba(30, 60, 90, 0.2);
  padding: 1.5rem;
  padding-top: 1.5rem;
  overflow-y: scroll;

  .title {
    margin-bottom: 0.7rem;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    width: 5rem;
    right: 1rem;
    z-index: 99;

    img {
      width: 100%;
    }
  }

  &.active {
    transform: translateX(2px);
  }
}