@import "../../../scss/Variables.scss";

.form {
  .user-info {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    height: 2rem;
  }

  .info-cvnas {
    margin-left: 0.7rem;
    margin-right: 1.5rem;
    font-weight: 400;
    font-size: 0.85rem;
    color: $dark;
  }

  .user-list {
    width: 14rem;
    position: absolute;
    background: #fff;
    border: 1px solid $pri;
    border-top: none;
    z-index: 99;
    top: 2rem;
    left: 4.6rem;
    font-size: 0.75rem;
    height: 15rem;
    overflow-y: scroll;

    li {
      cursor: pointer;
      width: 100%;
      padding: 0.25rem;
      padding-left: 0;
      border-top: 1px solid $gray2;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &:hover {
        background: $gray;
      }

      span {
        margin-left: 0.5rem;
        font-weight: 500;

        &:last-child {
          border-left: 1px solid #333;
          padding-left: 0.5rem;
        }
      }
    }
  }

  .save {
    margin: 0;
    position: absolute;
    right: 0;
    width: auto;
    padding: 0.25rem 0.8rem;
    background: $pri;
  }
}

.table {
  width: 100%;
  position: relative;

  tr:nth-child(2n) {
    background: #fafaff;
  }

  .error {
    visibility: hidden;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    font-weight: 500;
    color: $gray3;

    &.active {
      visibility: visible;
    }
  }

  .auth-table {
    height: calc(100vh - 17.5rem);
    overflow-y: scroll;
    border: 1px solid #333;

    &.left {
      height: calc(100vh - 15.5rem);
    }
  }

  table {
    width: 100%;
    font-size: 0.75rem;
    text-align: left;
  }

  .selection-cell-header {
    width: 2rem;
  }

  th,
  td {
    border: 1px solid $gray3;
    padding: 0.45rem 0.35rem;
    border-left: none;
  }

  thead {
    th {
      border-top: none;
      background: $gray;
      position: sticky;
      top: 0;
    }
  }
}