@import "Variables.scss";

.contents {
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100% - 15rem);
  top: 10.5rem;
  background: #fff;
  left: 2rem;
  box-shadow: 10px 10px 10px rgba(20, 50, 80, 0.15);
  border-radius: 8px;
  border-top-left-radius: 0;
  padding: 2rem;

  &.left {
    width: calc(100% - 19rem);
    height: calc(100% - 12rem);
    top: 7.5rem;
    left: 17rem;
  }
}
