@import "Variables.scss";

.year-table {
  width: 100%;
  overflow: scroll;
  text-align-last: left;
  .react-bootstrap-table {
    table {
      width: 2000px;
      border-collapse: collapse;
    }
  }
  th {
    padding: 0.5rem 0.8rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: $pri;
    color: #fff;
  }
  td {
    padding: 0.5rem 0.8rem;
    border-top: 1px solid #a1a1a9;
  }
}
