@import "Variables.scss";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e1e1ef;
}

::-webkit-scrollbar-thumb {
  background: $pri;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;

  &:focus {
    outline: none;
    border-color: $pri;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  &:focus {
    outline: none;
    border: none;
  }
}

table {
  border-collapse: collapse;
}

html {
  font-family: "Noto Sans KR", "Sans-serif";
  font-size: calc(14px + 0.15vw);
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background: $gray;
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
