@import "Variables.scss";

.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  overflow-y: auto;
  height: 100vh;
  padding-top: 7rem;
  padding-bottom: 3rem;
  background: #fff;
  z-index: 999;
  box-shadow: 5px 0px 5px rgba(20, 50, 80, 0.1);

  .menu-list {
    border-top: 1px solid #e1e1e9;
    font-family: "Spoqa Han Sans", sans-serif;
    border-left: 8px solid transparent;

    p {
      padding: 1.3rem 0 1.4rem 1.8rem;
      cursor: pointer;
      font-weight: 500;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        border-left: 1.5px solid #818189;
        border-top: 1.5px solid #818189;
        transform: rotate(-135deg);
        top: 1.5rem;
        right: 1.5rem;
        transition: all 0.2s;
      }

      &:hover {
        background: #f9f9ff;
      }
    }

    &.active {
      border-left: 8px solid $pri;

      p {
        &:after {
          transform: rotate(45deg);
          top: 1.65rem;
        }
      }
    }
  }

  .sub-menu {
    background: #f1f1fa;
    max-height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;

    .sub-menu-list {
      padding: 1.25rem 1.8rem;
      font-weight: 300;
      border-top: 1px solid #c1c1c9;

      &:active {
        background: $pri !important;
        color: #fff;
      }

      &:hover {
        background: #e1e1ef;
      }
    }
  }
}

.header-menu {
  width: calc(100% - 15rem);
  position: absolute;
  height: 3.5rem;
  top: 3.5rem;
  left: 15rem;
  background: #fff;
  z-index: 999;
  box-shadow: 0 5px 5px rgba(20, 50, 80, 0.1);

  .menu {
    display: flex;
    padding-left: 1rem;

    .menu-list {
      position: relative;
      height: 3.5rem;
      line-height: 3.5rem;
      padding: 0 3rem 0 1.25rem;
      cursor: pointer;
      font-size: 0.9rem;
      position: relative;
      color: #999;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 3.5px;
        height: 18px;
        background: $pri;
        top: 1.27rem;
        left: 0.5rem;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .sub-menu {
      opacity: 0;
      visibility: hidden;
      background: #fff;
      width: 9rem;
      position: absolute;
      left: 0;
      top: 3.5rem;
      line-height: 3.5rem;

      box-shadow: 0 2px 6px rgba(20, 50, 80, 0.2);

      .sub-menu-list {
        padding: 0 1.25rem;
        border-top: 1px solid #e1e1e9;
        color: #333;
        font-weight: 300;

        &:first-child {
          border: none;
        }

        &:hover {
          background: $pri;
          color: #fff;
        }
      }
    }
  }
}

.contents {
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100% - 16.5rem);
  top: 11.8rem;
  background: #fff;
  left: 2rem;
  box-shadow: 10px 10px 10px rgba(20, 50, 80, 0.15);
  border-radius: 8px;
  border-top-left-radius: 0;
  padding: 2rem;

  &.left {
    width: calc(100% - 19rem);
    height: calc(100% - 12.5rem);
    top: 8rem;
    left: 17rem;
  }
}

.tabs {
  position: absolute;
  display: flex;
  top: 9rem;
  left: 2rem;

  &.left {
    top: 5.2rem;
    left: 17rem;
  }

  .tab {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Noto sans KR", sans-serif;
    cursor: pointer;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  .delete-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      transform: rotate(45deg);
      background: #ee2472;
      position: absolute;
      top: 9px;
      right: 1px;
    }

    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      transform: rotate(-45deg);
      background: #ee2472;
      position: absolute;
      top: 9px;
      right: 1px;
    }
  }
}
